/*Estilos de la página para crear un restaurante*/
.add-restaurant .hidden {
	display: none;
}

.add-restaurant {
	margin-bottom: 3rem;
}

.add-restaurant-form {
	flex-direction: column;
}

.checkbox-group {
	margin-bottom: 1.25rem;
}

.add-restaurant .img-container {
	width: 100%;
	margin: 0;
	max-width: unset;
}

.button-container {
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: 1fr 1fr;
}

.add-restaurant .primary-button {
	max-width: 15rem;
}

.decoration-wrapper {
	margin-top: 2rem;;
}

.top-wrapper {
	margin-bottom: 2rem;
}

label {
	max-width: 28.125rem;
}

.captcha {
	position: absolute;
	left: -9999em;
}

.add-restaurant-wrapper {
	margin-top: 1rem;
	padding: 1rem;
	border: 1px solid var(--grayDark);
	border-radius: 0.625rem;
}

#signupCaptcha {
	margin: 0;
}

/*Steps*/
.step__container {
	display: flex;
	width: 100%;
	justify-content: center;
	margin: 2rem 0 0.5rem 0;
}

.step__item {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 1rem;
	width: 4rem;
	height: 4rem;
	font-size: 3rem;
	color: var(--grayDark);
	border: 6px solid var(--grayDark);
	border-radius: 50%;
	font-family: var(--primaryTypo);
}

.step__item:after, .step__item:before {
	content: '';
	position: absolute;
	top: 45%;
	right: -1.5rem;
	background-color: var(--grayDark);
	height: 6px;
	width: 1.25rem;
}

.step__item:after {
	left: -1.5rem;
	right: unset;
}

.step__item:first-of-type:after {
	display: none;
}

.step__item:last-of-type:before {
	display: none;
}

.step__item--done {
	color: var(--primaryColor);
	border: 6px solid var(--primaryColor);
}

.step__item--done-before:before {
	background-color: var(--primaryColor);
}

.step__item--done-after:after {
	background-color: var(--primaryColor);
}

@media (min-width: 768px) {

	.add-restaurant .img-container {
		display: flex;
		justify-content: center;
	}

	.add-restaurant .img {
		width: 16rem;
		height: 16rem;
	}

	.add-restaurant-wrapper {
		display: block;
	}
}

@media (min-width: 992px) {
	.add-restaurant .img {
		width: 25rem;
		height: 25rem;
	}
}

@media (min-width: 1100px) {
	.add-restaurant {
		max-width: 67rem;
	}

	.add-restaurant-form {
		max-width: 67rem;
	}

	.add-restaurant-wrapper {
		display: grid;
		grid-template-columns: 2.5fr 1.5fr;
		align-items: baseline;
		gap: 2.375rem;
	}
}

@media (max-width: 767px) {
	.add-restaurant__decoration {
		display: none;
	}
}