/*Estilos de la página para crear un restaurante*/

.add-restaurant .img-container {
	max-width: 25rem;
	margin: 0 3.75rem;
}

.add-restaurant .hidden {
	display: none;
}

.checkbox-group {
	margin-bottom: 1.25rem;
}