/*Estilos de la página principal*/
.img {
	max-width: 100%;
    max-height: 100%;
}

.logo-text--big {
	font-family: var(--primaryTypo);
	font-size: 2.25rem;
}

.img-container {
	margin: 0;
	height: 18.75rem;
	display: flex;
    justify-content: center;
}

.home {
	color: #0a0a0a;
}

.search-container {
	max-width: 31.25rem;
	margin:  2.813rem auto;
	padding:  1.25rem;
}

.second-title {
	font-size: 1.375rem;
	text-align: center;
	max-width: 17.188rem;
	margin-right: auto;
	margin-left: auto;
}

.second-title--light {
	color: var(--white);
}
/*Question*/

.question {
	margin: 1.25rem 0;
	padding:  1.25rem 0;
	background: radial-gradient(circle, #0b8387 10%, transparent 11%),radial-gradient(circle at bottom left, #0b8387 5%, transparent 6%),radial-gradient(circle at bottom right, #0b8387 5%, transparent 6%),radial-gradient(circle at top left, #0b8387 5%, transparent 6%),radial-gradient(circle at top right, #0b8387 5%, transparent 6%);
	background-size: 3em 3em;
	background-color: #097C7F;
}

/*Instruction*/

.instructions {
    margin: 3.125rem 1.25rem;
}

.instruction__img-container {
	display: none;
	height: 31.25rem;
}

.instruction__img {
	border-radius: 1.563rem;
}

.instructions-list {
	line-height: 1.75rem;
	padding-left: 1.25rem;
}

.instructions-list li {
	margin-bottom: 0.625rem;
}

.register {
	padding: 1.25rem 1.25rem 2.5rem 1.25rem;
}

.register .img-container {
	height: 25rem;
}

.toggle.hidden, .nav-list.hidden {
	display:  none;
}

.primary-button {
	text-decoration: none;
}

.register-container {
	margin: 0 auto;
	max-width: 18.75rem;
}

/*Header*/
.hero {
	position: relative;
	padding: 1.25rem;
	height: 12rem;
	background-color: var(--primaryColor);
}

.hero:after {
	content: "";
    position: absolute;
	left:0;
    width: 100%;
    height: 8.438rem;
    background-color: var(--primaryColor);
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
	bottom: -24%;
    z-index: -1;
}

.hero__title {
	margin:0;
    color: var(--white);
    font-size: 1.75rem;
	margin-bottom: 1.5rem;;
}

.hero__subtitle {
	color: var(--white);
}

.hero__img {
	display: none;
}


.hero__title-container {
	max-width: 30rem;
}

/*Adaptando a pantallas mayores*/
@media (min-width: 768px) {
	.register {
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items:  center;
		line-height: 1.875rem;
		padding: 1.25rem 1.25rem 2.5rem 1.25rem;
	}


	.form-selects {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 0.938rem;
		align-items: flex-start;
	}

	.hero__title {
		font-size: 2.625rem;
	}

	.hero {
		height: 18.75rem;
	}

	.hero:after {
		height: 11.25rem;
		bottom: -21%;
	}

	.hero__img {
		display: flex;
	}

	.search-container {
		margin:  11.563rem auto 4.375rem auto;
	}

	.second-title {
		font-size: 2rem;
		max-width: 31.25rem;
	}

	.instruction__img-container {
		display: flex;
	}

	.instructions {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 2rem;
		max-width: 56.25rem;
		margin: 6.25rem 1.25rem;
		align-items: center;
	}

	.instructions-list {
		line-height: 2.813rem;
		font-size: 1.125rem;
	}

	.instructions-list li {
		margin: 0;
	}
}

@media (min-width: 992px) {
	.wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: center;
		max-width: 59.375rem;
		margin: 0 auto;
	}

	.search-container {
		margin:  7.813rem auto 2rem auto;
	}

	.instructions {
		margin: 6.25rem auto;
	}
}