/*Variables*/
html {
	--primaryColor: #178285;
	--primaryColorDark: #097c7f;
	--secondaryColor: #781C68;
	--gray: #bfcad7;
	--grayDark: #555;
	--white: #fff;
	--black: #0a0a0a;
	--bg: #eff2f5c2;

	--primaryTypo: 'Teko', sans-serif;
}

/*Estilos generales*/
body {
	margin: 0;
	font-family: sans-serif;
	font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
	color: var(--black);
}

.logo-text {
	font-family: var(--primaryTypo);
	font-size:  1.25rem;
	font-weight: 500;
}

.hidden {
	display:  none;
}

.main {
	padding: 1.875rem 1rem;
	margin-bottom: auto;
}

.img {
	max-width: 100%;
	max-height: 100%;
}

.subtitle {
	max-width: 31.25rem;
}

.skip-to-content-link {
	background: var(--secondaryColor);
	color: var(--white);
	height: 30px;
	top: -50%;
	left: 50%;
	padding: 0.5rem;
	position: absolute;
	transform: translateY(-100%);
	transition: transform 0.3s;
	padding: 0.688rem 1rem 0 1rem;
}
  
.skip-to-content-link:focus {
	transform: translateY(0%);
}

/*Utility clases*/
.bold {
	font-weight: bold;
}

/*Information list*/
.info-list {
	width: fit-content;
	padding: 1rem;
	box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 5px;
    list-style-type: none;
	margin: 1rem 0 1.875rem 0;
}

.info-list-item {
	position: relative;
	margin-bottom: 5px;
	font-size: 0.875rem;
	padding-left: 0.75rem;
}

.info-list-item:after {
	position: absolute;
	content: '-';
	color: var(--gray);
	left: 0;
	top: 0;
}

.info-list-item:last-of-type {
	margin-bottom: 0;
}

/*Botones*/
.primary-button, .secondary-button {
	padding: 0.625rem 1.25rem;
	background-color: var(--secondaryColor);
	border-radius: 5px;
	border: none;
	color: var(--white);
	font-weight: 700;
	cursor:  pointer;
	text-decoration: none;
	height: 40px;
}

.secondary-button {
	color:  var(--secondaryColor);
	border:  1px solid var(--secondaryColor);
	background-color: transparent;
	height: 40px;
}

.primary-button:hover, .secondary-button:hover, .primary-button:disabled, .secondary-button:disabled {
	opacity: 0.8;
}

.primary-button--ghost {
    border: 1px solid var(--secondaryColor);
    background: transparent;
    color: var(--secondaryColor);
}

/*Header*/
.header {
	display:  flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 0.938rem;
	background-color: var(--primaryColor);
	font-family: var(--primaryTypo);
}

.title {
	display: flex;
	align-items: center;
	font-weight: 400;
}

.home-link {
	text-decoration: none;
}

.header .title {
	margin: 0;
	color:  var(--white);
	font-weight: 500;
}

.title-container {
	display:  flex;
	align-items: center;
}

.title span {
	margin-top: 5px;
}

.logo {
	max-width: 100%;
	max-height: 100%;
}

.logo-container {
	display: flex;
	width: 2.625rem;
	margin: 0 2px 0 2px;
}

/*Mi cuenta dropdown*/
.dropdown {
	padding: 0.625rem 0;
	display: none;
	flex-direction: column;
	list-style-type: none;
	transition: transform 0.25s;
	z-index: 1;
}

.account-dropdown-button {
	border: none;
	background: transparent;
	font-family: var(--primaryTypo);
}

.dropdown a {
	font-size: 0.875rem;
}

.arrow {
	border: solid var(--white);
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
	transform: rotate(45deg);
	margin-left: 5px;
	margin-bottom: 4px;
}

/*Nav*/
.nav-list {
	display: flex;
    padding: 0;
    list-style-type: none;
	z-index:1;
}

.toggle {
	display: none;
}

.toggle-item {
	width: 100%;
	height: 6px;
	background-color: var(--white);
	margin-bottom: 4px;
	transform-origin: top left;
	transition: 0.5s;
}

.toggle-item:last-of-type {
	margin-bottom: 0;
}

.open {
	display: flex;
}

.nav-link {
	padding: 0 0.625rem;
	color: var(--white);
	font-size: 1.125rem;
	text-decoration: none;
	text-align: center;
}

/*Footer*/
.footer {
	position: relative;
	display: flex;
    flex-direction: column;
    align-items: center;
	padding: 0.938rem 0.938rem 3.438rem 0.938rem;
	background-color: var(--secondaryColor);
}

.footer a, .footer {
	color:  var(--white);
}

.footer a {
	padding: 0.5rem;
}

.footer__logo {
	display: flex;
	align-items: center;
	color: var(--white);
    font-weight: 500;
	font-family: var(--primaryTypo);
	margin: 0;
	font-size: 1.75rem;
}

.footer__logo p {
	margin: 0;
}


.footer-img {
	height: 2.813rem;
	margin: 0 2px;
}

.footer__name {
	font-family: var(--primaryTypo);
	font-size: 1.25rem;
    text-decoration: none;
}

.copyright  {
	font-size: 0.625rem;
}

.footer__by {
	margin-top: 2rem;
	margin-bottom: 0;
	font-size: 0.75rem;
	text-align: center;
}

.footer i {
	color: var(--white);
}

.footer__list {
	display: flex;
	margin-top: 0;
	padding: 0;
	list-style-type: none;
}

.footer__list li:last-of-type {
	margin-right: 0;
}

/*Form*/
.input-group {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-bottom: 1.25rem;
}

.input-label {
	margin-bottom: 5px;
}

.input, .select {
	padding: 5px;
	border: none;
    border-bottom: 1px solid var(--gray);
}

.link {
	display: block;
	margin-top: 0.938rem;
	color: var(--gray);
}

.primary-button, .secondary-button {
	width: 100%;
	margin-top: 0.625rem;
}

.checkbox-group {
	display: flex;
	flex-direction: row-reverse;
}

/*Feedback*/
.error {
	color: var(--secondaryColor);
	margin-top: 0.625rem;
}

.success {
	color:  var(--primaryColor);
	margin-top: 0.625rem;
}

/*Captcha*/
#signupCaptcha {
    transform: scale(0.85);
	margin-left: -1.375rem;
}

/*Loader*/
.loader {
    width: 1.25rem;
    height: 1.25rem;
	margin: 0 6px;
    border: 3px solid var(--black);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.loader--light {
	border-color: var(--white);
    border-bottom-color: transparent;
}

.loader-container {
	display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*Medias queries*/

@media (min-width: 768px) {
	.nav-list a {
		font-size: 1.25rem;
	}

	.footer {
		display: grid;
    	grid-template-columns: 1fr 1fr;
		padding: 0.938rem 1.25rem;
		align-items: flex-start;
	}

	.footer__logo {
		margin-bottom: 1.75rem;
	}

	.dropdown {
		width: 8.75rem;
		display: flex;
		position: absolute;
		right: 0;
    	background: var(--primaryColor);
		transform: translate(0, -150%)
	}

	.dropdown.open {
		transform: translate(0, 1.438rem);
	}

	.account-dropdown-button {
		font-size: 1.25rem;
	}

	.dropdown li {
		padding: 3px 0;
	}

	.footer__by {
		margin-top: 0.625rem;
		margin-bottom: 6px;
	}

	.footer__container {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}

	.container {
		max-width: 56.25rem;
		margin-right: auto;
		margin-left: auto;
	}
}

/*Hamburguer menu*/
@media (max-width: 767px) {

	.copyright  {
		position: absolute;
		bottom: 1rem;
	}

	.toggle {
		width: 2.25rem;
		height: 2rem;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 0;
		appearance: none;
		background-color: transparent;
		border: none;
		z-index: 2;
	}

	.toggle.open .toggle-item {
		margin-left: 4px;
	}

	.toggle.open .toggle-item:first-of-type {
		transform: rotate(46deg);
	}
	.toggle.open .toggle-item:last-of-type {
		transform: rotate(-46deg);
		transform-origin: bottom left;
	}
	.toggle.open .toggle-item:nth-of-type(2) {
		display:  none;
	}

	.nav-list {
		position: absolute;
		width: 100%;
		left: 0;
		bottom: 0;
		background: var(--primaryColor);
		height: calc(100vh - 3.438rem);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 0;
		transform: translate(0%, -125%);
		transition: transform 0.5s;
	}

	.nav-list.open {
		transform: translate(0%);
	}
}