/*Variables*/
html {
	--primaryColor: #178285;
	--primaryColorDark: #097c7f;
	--secondaryColor: #781C68;
	--gray: #bfcad7;
	--grayDark: #555;
	--white: #fff;

	--primaryTypo: 'Teko', sans-serif;
}

/*Estilos generales*/
body {
	margin: 0;
	font-family: sans-serif;
	font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.logo-text {
	font-family: var(--primaryTypo);
	font-size:  20px;
	font-weight: 500;
}

.hidden {
	display:  none;
}

.main {
	padding: 30px 15px;
	margin-bottom: auto;
}

.img {
	max-width: 100%;
	max-height: 100%;
}

.subtitle {
	max-width: 500px;
}

/*Utility clases*/
.bold {
	font-weight: bold;
}

/*Information list*/
.info-list {
	width: fit-content;
	padding: 16px;
	box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 5px;
    list-style-type: none;
	margin-bottom: 30px;
}

.info-list-item {
	position: relative;
	margin-bottom: 5px;
	font-size: 14px;
	padding-left: 12px;
}

.info-list-item:after {
	position: absolute;
	content: '-';
	color: var(--gray);
	left: 0;
}

.info-list-item:last-of-type {
	margin-bottom: 0;
}

/*Botones*/
.primary-button, .secondary-button {
	padding: 10px 20px;
	background-color: var(--secondaryColor);
	border-radius: 5px;
	border: none;
	color: var(--white);
	font-weight: 700;
	cursor:  pointer;
	text-decoration: none;
}

.secondary-button {
	color:  var(--secondaryColor);
	border:  1px solid var(--secondaryColor);
	background-color: transparent;
}

.primary-button:hover, .secondary-button:hover {
	opacity: 0.8;
}

/*Header*/
.header {
	display:  flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 15px;
	background-color: var(--primaryColor);
	font-family: var(--primaryTypo);
}

.title {
	display: flex;
	align-items: center;
	font-weight: 400;
}

.home-link {
	text-decoration: none;
}

.header .title {
	margin: 0;
	color:  var(--white);
	font-weight: 500;
}

.title-container {
	display:  flex;
	align-items: center;
}

.title span {
	margin-top: 5px;
}

.logo {
	max-width: 100%;
	max-height: 100%;
}

.logo-container {
	display: flex;
	width: 42px;
	margin: 0 2px 0 2px;
}

/*Mi cuenta dropdown*/
.dropdown {
	padding: 10px 0;
	display: none;
	flex-direction: column;
	list-style-type: none;
	transition: transform 0.25s;
}

.account-dropdown-button {
	border: none;
	background: transparent;
	font-family: var(--primaryTypo);
}

.dropdown a {
	font-size: 14px;
}

.arrow {
	border: solid var(--white);
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
	transform: rotate(45deg);
	margin-left: 5px;
	margin-bottom: 4px;
}

/*Nav*/
.nav-list {
	display: none;
    padding: 0;
    list-style-type: none;
	z-index:1;
}

.toggle {
	display: none;
}

.toggle-item {
	width: 100%;
	height: 6px;
	background-color: var(--white);
	margin-bottom: 4px;
	transform-origin: top left;
}

.toggle-item:last-of-type {
	margin-bottom: 0;
}

.open {
	display: flex;
}

.nav-link {
	padding:  0 4px;
	color: var(--white);
	font-size: 18px;
	text-decoration: none;
	text-align: center;
}

/*Footer*/
.footer {
	padding: 15px;
	background-color: var(--secondaryColor);
}

.footer a, .footer {
	color:  var(--white);
}

/*Form*/
.input-group {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}

.input-label {
	margin-bottom: 5px;
}

.input, .select {
	padding: 5px 0;
	border: none;
    border-bottom: 1px solid var(--gray);
}

.link {
	display: block;
	margin-top: 15px;
	color: var(--gray);
}

.primary-button, .secondary-button {
	width: 100%;
	margin-top: 10px;
}

.checkbox-group {
	display: flex;
	flex-direction: row-reverse;
}

/*Feedback*/
.error {
	color: var(--secondaryColor);
	margin-top: 10px;
}

.success {
	color:  var(--primaryColor);
	margin-top: 10px;
}

/*Medias queries*/

@media (min-width: 768px) {
	.nav-list {
		display: flex;
	}
	.nav-list a {
		font-size: 20px;
	}

	.dropdown {
		width: 140px;
		display: flex;
		position: absolute;
		right: 0;
    	background: var(--primaryColor);
		transform: translate(0, -150%)
	}

	.dropdown.open {
		transform: translate(0, 23px);
	}

	.account-dropdown-button {
		font-size: 20px;
	}

	.dropdown li {
		padding: 3px 0;
	}
}

/*Estilo al contenedor de las páginas para que no cojan el 100% del ancho*/

@media (min-width: 1100px) {
	.container {
		max-width: 900px;
		margin-right: auto;
		margin-left: auto;
	}
}

/*Hamburguer menu*/
@media (max-width: 767px) {
	.toggle {
		width: 36px;
		height: 32px;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 0;
		appearance: none;
		background-color: transparent;
		border: none;
	}

	.toggle.open .toggle-item {
		margin-left: 4px;
	}

	.toggle.open .toggle-item:first-of-type {
		transform: rotate(46deg);
	}
	.toggle.open .toggle-item:last-of-type {
		transform: rotate(-46deg);
		transform-origin: bottom left;
	}
	.toggle.open .toggle-item:nth-of-type(2) {
		display:  none;
	}

	.nav-list.open {
		position: absolute;
	    width: 100%;
	    left: 0;
	    bottom: 0;
	    background: var(--primaryColor);
	    height: calc(100vh - 55px);
	    display: flex;
	    flex-direction: column;
	    justify-content: center;
	    align-items: center;
	    margin: 0;
	}
}