/*General styles*/
body {
	margin: 0;
	font-family: sans-serif;
}

.logo-text {
	font-family: 'Teko', sans-serif;
	font-size:  20px;
	font-weight: 500;

}

.main {
	padding: 30px 15px;
}

.primary-button, .secondary-button {
	padding: 10px 20px;
	background-color: #781C68;
	border-radius: 5px;
	border: none;
	color: white;
	font-weight: 700;
}

.secondary-button {
	color:  #781C68;
	border:  1px solid #781C68;
	background-color: transparent;
}

.primary-button:hover, .secondary-button:hover {
	opacity: 0.8;
}

/*Header*/
.header {
	display:  flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 15px;
	background-color: #319DA0;
	font-family: 'Teko', sans-serif;
}

.header .title {
	margin: 0;
	color:  white;
	font-weight: 500;
}

.title-container {
	display:  flex;
	align-items: center;
}

.header .title span {
	font-weight: 400;
}

.shield {
	max-width: 100%;
	max-height: 100%;
}

.shield-container {
	width: 20px;
	margin: 0 0 0 5px;
}

/*Navbar*/
.nav-list {
	display: none;
    padding: 0;
    list-style-type: none;
}

.toggle {
	display: none;
}

.toggle-item {
	width: 100%;
	height: 6px;
	background-color: white;
	margin-bottom: 4px;
	transform-origin: top left;
}

.toggle-item:last-of-type {
	margin-bottom: 0;
}

.open {
	display: flex;
}

.nav-link {
	padding:  0 4px;
	color: white;
	font-size: 18px;
	text-decoration: none;
}

@media (max-width:  767px) {
	.toggle {
		width: 36px;
		height: 32px;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 0;
		appearance: none;
		background-color: transparent;
		border: none;
	}

	.toggle.open .toggle-item {
		margin-left: 4px;
	}

	.toggle.open .toggle-item:first-of-type {
		transform: rotate(46deg);
	}
	.toggle.open .toggle-item:last-of-type {
		transform: rotate(-46deg);
		transform-origin: bottom left;
	}
	.toggle.open .toggle-item:nth-of-type(2) {
		display:  none;
	}

	.nav-list.open {
		position: absolute;
	    width: 100%;
	    left: 0;
	    bottom: 0;
	    background: #319DA0;
	    height: calc(100vh - 55px);
	    display: flex;
	    flex-direction: column;
	    justify-content: center;
	    align-items: center;
	    margin: 0;
	}
}

@media (min-width: 768px) {
	.nav-list {
		display: flex;
	}
	.nav-list a {
		font-size: 20px;
	}
}

/*Footer*/
.footer {
	padding: 15px;
	background-color: #781C68;
}

.footer a, .footer {
	color:  white;
}

/*Form*/
.input-group {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}

.input-label {
	margin-bottom: 5px;
}

.input {
	padding: 5px 0;
	border: none;
    border-bottom: 1px solid #8f949a;
}

.link {
	display: block;
	margin-top: 15px;
	color: #8f949a;
}

.primary-button, .secondary-button {
	width: 100%;
	margin-top: 10px;
}

.checkbox-group {
	display: flex;
	flex-direction: row-reverse;
}

/*Feedback*/
.error {
	color: #781C68;
	margin-top: 10px;
}

.success {
	color:  #319DA0;
	margin-top: 10px;
}