
.list-results {
	padding:  0;
	list-style-type: none;
}

.list-results h4  {
    margin-top: 0;
}

.list-results li {
	position: relative;
	margin-bottom: 1.25rem;
	padding: 0.938rem;
    border: 1px solid var(--gray);
    border-radius: 5px;
    background: var(--white);
}

.list-results li p {
	margin: 5px 0 0.75rem 0;
}

.list-results li p:last-of-type {
    margin-bottom: 0;
}

.list-results .primary-button {
    display: block;
    text-decoration: none;
    width: fit-content;
}

.list-score {
	position: absolute;
    right: 0.938rem;
    top: 0.938rem;
    color: var(--primaryColor);
    font-weight: 700;
    font-size: 1.5rem;
}

.list-score span {
	color: black;
    font-size: 0.875rem;
}

@media (min-width: 768px) {
    .list-results .primary-button {
        position: absolute;
        bottom: 0.938rem;
        right: 0.938rem;
    }

    .list-results h4 {
        margin-bottom: 1rem;
    }

    .list-results li p:last-of-type {
        margin-bottom: 1rem;
    }       
}
