/*Estilos para las páginas de iniciar sesión y registrar*/
.main.form {
	min-height: calc(100vh - 56px - 125px - 60px);
    display: flex;
    align-items: center;
}

.register-form, .login-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    margin: 20px auto 0 auto;
    border: 1px solid #bfcad7;
    border-radius: 5px;
}

.register-form h2 {
	margin: 0 auto;
}

.login-form h2 {
	margin: 0 auto 20px auto;
}

.register-form p, .register-form h2, .login-form p, .login-form h2 {
	text-align: center;
}

/*Adaptando estilos a dispositivos grandes*/
@media (min-width: 768px) {
	.register-form, .login-form {
		max-width: 400px;
	}
}