/*Estilos para las páginas de iniciar sesión y registrar*/
.main.form {
	min-height: calc(100vh - 3.5rem - 7.813rem - 3.75rem);
    display: flex;
    align-items: center;
}

.register-form, .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.25rem;
    margin: 1.25rem auto 0 auto;
    border: 1px solid var(--gray);
    border-radius: 5px;
}

.register-form h2 {
	margin: 0 auto;
}

.login-form h2 {
	margin: 0 auto 1.25rem auto;
}

.register-form p, .register-form h2, .login-form p, .login-form h2 {
	text-align: center;
}

button {
    border: none;
    background: transparent;
}

.loader {
    margin-top: 1.5rem;
}

/*Adaptando estilos a dispositivos grandes*/
@media (min-width: 768px) {
	.register-form, .login-form {
		max-width: 25rem;
	}
}