.profile-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list-results {
    width: 100%;
    max-width: 56.25rem;
    margin-right: 1rem;
    margin-left: 1rem;
}

h3 {
    margin-top: 1.5rem;
}