/*Estilos de la página de resultados de restaurantes*/
.home {
	min-height: calc(100vh - 56px - 125px);
}

.list-results-container {
	padding: 20px;
}

.order-container {
	display: flex;
	align-items: center;
}

.order-label {
	margin-bottom: 0;
	margin-right: 5px;
	color: var(--secondaryColor);
    font-weight: 700;
}