.list-results-container {
	padding: 1.25rem 1rem;
}

.order-container {
	display: flex;
	align-items: center;
}

.order-label {
	margin-bottom: 0;
	margin-right: 5px;
	color: var(--secondaryColor);
    font-weight: 700;
}

.load {
	width: fit-content;
}

