/*Estilos de la página de detalle de restaurante*/
.main {
	padding: 1.875rem 0 0 0;
}

.toggle.hidden, .nav-list.hidden {
	display:  none;
}

.data-text {
	font-weight: 700;
}

.data-wrapper {
	display: flex;
}

.header-container {
	display: flex;
	align-items: center;
    margin: 0;
	padding: 0 1rem;
}

.scores-list li small {
	margin-bottom: 1.75rem;
    display: block;
    margin-top: 0.25rem;
}

.restaurant-title {
	padding-left: 0;
	margin-bottom: 1.25rem;
    margin-top: 1.25rem;
	margin-right: 1rem;
}

.data-container {
	margin-bottom: 0;
	padding: 0 1rem;
}

.wrapper {
	display: flex;
	flex-direction: column;
	padding: 0;
	margin-bottom: 3.5rem;
}

ul.allergen-list {
	margin-bottom: 0;
	box-shadow: none;
}

.principal-score {
    height: 3rem;
    width: 3rem;
    color: var(--white);
    background-color: var(--primaryColor);
    font-size: 2rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1rem;
    font-weight: 600;
}

.principal-score-comment {
    height: 2rem;
    width: 2rem;
    color: var(--white);
    background-color: var(--secondaryColor);
    font-size: 1rem;
    margin-left: 1rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1rem;
    font-weight: 600;
	position: absolute;
    top: 1.375rem;
    right: 1.313rem;
    margin: 0;
}

.header-container, .data-container, .wrapper {
	max-width: 56.25rem;
	margin-left: auto;
	margin-right: auto;
}

.header-container a {
	height: auto;
    width: fit-content;
    margin-left: 0.75rem;
}

.data-wrapper .data-text{
	margin: 0 0.25rem 0 0;
	line-height: 1.375rem;
}

.data-info {
	font-weight: normal;
}

.averages-container {
	display: grid;
	gap: 1rem;
}

.loader {
	margin-left: 1rem;
    margin-top: 1.5rem;
}

.checkbox-group {
	margin-bottom: 1.25rem;
}

.fa-solid {
	margin: 0;
}

.scores-list {
	display: grid;
   	grid-template-columns: 1fr;
    gap:  1.25rem;
    padding: 0;
	list-style-type: none;
}

.info-list {
	margin-bottom: 1.5rem;
    padding: 0.5rem 1rem;
}

.info-list-item span {
	font-weight: 600;
}

h3 {
	font-size: 1.25rem;
	margin: 0 auto 2rem auto;
	max-width: 56.25rem;
}

h4 {
	margin-top: 0;
	margin-bottom: 1rem;
}

h5 {
	margin: 0 0 10px 0;
}

.reviews {
	margin-top: 2.5rem;
}

.actions {
	margin-top: 1rem;
	margin-bottom: 2rem;
}

.scores-list li {
	position: relative;
	margin-bottom: 1.25rem;
	padding: 1.25rem;
	border: 1px solid var(--gray);
	border-radius: 5px;
	background: var(--white);
}

.scores-list p {
	font-size:  0.875rem;
	margin-bottom: 0;
    margin-top: 0.625rem;
}

.scores-list h4 {
	margin: 0;
	color:  var(--primaryColor);
	font-size: 1.125rem;
}

h2 {
	font-size: 2rem;
	padding-left: 1rem;
}

.highlight {
	font-weight: 700;
}

.add-button {
	width: fit-content;
    height: fit-content;
	margin-bottom: 0;
}

.restaurant-container {
    background: var(--bg);
    padding: 2rem 1rem 0.938rem 1rem;
    margin-top: 32px;
}

.box {
	position: relative;
    padding: 1.25rem;
    border: 1px solid var(--gray);
    border-radius: 5px;
    background: var(--white);
}

.box h2 {
	margin-top: 0;
}

.bar {
	position: relative;
	height: 1rem;
    width: 100%;
    background-color: #eff2f5;
}

.bar span {
	position: absolute;
    background: var(--primaryColor);
    height: 1rem;
}

.range-number {
	display: flex;
}

.input-group--last {
	margin-bottom: 0;
}

.map-container {
	max-width: 25rem;
	margin: 1rem 0 2rem 0;
}

.map-img {
	width: 100%;
}


/*Adaptando el diseño a pantallas mayores*/
@media (min-width: 768px) {
	.averages-container {
		grid-template-columns: 1fr 1fr;
		width: 100%;
    	max-width: 56.25rem;
		margin: 0 auto 2rem auto;
    }

	.header-container {
		display: flex;
		align-items: center;
	}

	.data-container {
		display: flex;
		gap: 2rem;
		margin-top: 1rem;
    }

	.data-text:first-of-type {
		margin-top: 0;
	}

	.map-container {
		margin: 0;
	}
}

/*Adaptando el diseño a pantallas grandes*/
@media (min-width: 992px) {
	.map-container {
		max-width: 28.125rem;
	}
}