.list-results-container {
	padding: 1.25rem 1rem;
}

.order-container {
	display: flex;
	align-items: center;
}

.order-label {
	margin-bottom: 0;
	margin-right: 5px;
	color: var(--secondaryColor);
    font-weight: 700;
}

.load {
	width: fit-content;
}

.list-principal-score {
    height: 3rem;
    width: 3rem;
    color: var(--white);
    background-color: var(--primaryColor);
    font-size: 1rem;
    margin-left: 1rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1rem;
    font-weight: 600;
    position: absolute;
    top: 1rem;
    right: 1rem;
    margin: 0;
    font-size: 2rem;
	margin-bottom: 0;
}

.button-container {
	display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

@media (max-width: 767px) {
    
    .list-results h4, .list-results p {
        max-width: 11.563rem;
    }
}