.list {
    display: flex;
    flex-direction: column;
    margin-top: 2.5rem;
}

.list ul {
    flex-direction: column;
    margin-top: 0;
    padding-left: 1rem;
    list-style-type: none;
}

.list li a {
    color: var(--grayDark);
}

.search {
    max-width: 42.125rem;
}

.info-list-item button {
    text-align: left;
    border: none;
    background: transparent;
}

.step-title {
    margin-bottom: 1.25rem;
    font-weight: bold;
    font-size: 1.1rem;
}

.info-list {
    margin-bottom: 3.375rem;
}

.primary-button {
    width: fit-content;
}

fieldset {
    border: none;
    padding: 0;
}

.radio-container {
    margin-bottom: 1rem;
}

label {
    max-width: unset;
}

.address-list, .restaurants-list {
    flex-direction: column;
    max-height: 16.875rem;
    overflow-y: auto;
}

.feedback {
    margin-top: 3.375rem;;
}

.search .radio-container input {
    position: absolute;
    left: -9999em;
}

.search .radio-container label {
    width: 100%;
    padding: 0.625rem;
    border: 1px solid var(--grayDark);
    border-radius: 0.625rem;
    margin-right: 0.5rem;
}

.search .radio-container input:checked + label {
    background-color: var(--primaryColor);
    border: 1px solid var(--primaryColor);
    color: var(--white);
}

@media (min-width: 992px) {
    .search {
        width: 42.125rem;
    }
}