.list {
    display: flex;
    flex-direction: column;
}

.list ul {
    flex-direction: column;
    margin-top: 0;
    padding-left: 1rem;
    list-style-type: none;
}

.list li a {
    color: var(--grayDark);
}

.search {
    max-width: 23.125rem;
}

.info-list-item button {
    text-align: left;
    border: none;
    background: transparent;
}