.list {
    display: flex;
    flex-direction: column;
    margin-top: 2.5rem;
}

.list ul {
    flex-direction: column;
    margin-top: 0;
    padding-left: 1rem;
    list-style-type: none;
}

.list li a {
    color: var(--grayDark);
}

.search {
    max-width: 42.125rem;
}

.info-list-item button {
    text-align: left;
    border: none;
    background: transparent;
}

.step-title {
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 1.1rem;
}

.info-list {
    margin-bottom: 3.375rem;
}

.primary-button {
    width: fit-content;
}

fieldset {
    border: none;
    padding: 0;
}


.radio-container {
    display: grid;
    grid-template-columns: 1.5rem 1fr;
    align-items: baseline;
    margin-bottom: 1rem;
}

label {
    max-width: unset;
}

.address-list {
    flex-direction: column;
}

.feedback {
    margin-top: 3.375rem;;
}

@media (min-width: 992px) {
    .search {
        width: 42.125rem;
    }
}