<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#319DA0" />
    <meta name="description" content="Una aplicación web donde puedes ver y puntuar restaurante según los alérgenos">
    <meta name="keywords" content="alergenos, carta alérgenos, restaurantes, puntuación"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Teko:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/index.css">
    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/profile.css">
    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/add-restaurant.css">
    <link rel="icon" href="../assets/img/favicon.ico" />
    <link rel="apple-touch-icon" href="../assets/img/logo.png" />
    <title>SafeTaurant, restaurantes sin alergias</title>
  </head>
  <header class="header">
    <div class="title-container">
      <h1 class="title">Safe<span>Taurant</span></h1>
      <figure class="shield-container">
        <img class="shield" src="../assets/img/shield.png" alt="" />
      </figure>
    </div>
    <nav class="nav">
      <button id="toggle" class="toggle" aria-label="Abrir menú">
        <i class="toggle-item" aria-hidden="true"></i>
        <i class="toggle-item" aria-hidden="true"></i>
        <i class="toggle-item" aria-hidden="true"></i>
      </button>
      <ul class="nav-list" id="nav">
        <li>
          <a class="nav-link" href="http://localhost/TFG/index.html">Buscar</a>
        </li>
        <li>
          <a class="nav-link" href="http://localhost/TFG/view/add-restaurant.html">Crear restaurante</a>
        </li>
        <li>
          <a class="nav-link" href="http://localhost/TFG/view/profile.html">Perfil</a>
        </li>
      </ul>

    </nav>
  </header>
    <main class="main add-restaurant container">
      <h2>Añade puntuación</h2>
      <p id="subtitle">Añade una puntuación neuva a un restaurante. Los campos con un asterisco (*) son obligatorios.</p>
      <div class="add-restaurant-wrapper">
        <form class="add-restaurant-form" id="add">
          <div class="input-group">
            <label class="input-label" for="generalScore">Puntuación general*: </label>
            <div class="range-input-container">
              <input class="range-input" id="generalScore" name="generalScore" value="5" type="range" min="1" max="10" required oninput="numberGeneral.value=value"/>
              <input type="number" class="range-number" id="numberGeneral" min="1" max="10" value="5" disabled oninput="generalScore.value=value">
            </div>
          </div>
          <div class="checkbox-group">
            <label class="input-label" for="allergenChart">¿Carta de alérgenos?</label>
            <input class="input" id="allergenChart" name="allergenChart" type="checkbox" />
          </div>
          <div class="input-group hidden" id="fidelityScoreContainer">
            <label class="input-label" for="fidelityScore">Fidelidad de la carta de alérgenos con respecto a los platos una vez preparados*: </label>
            <div class="range-input-container">
              <input class="range-input" id="fidelityScore" name="fidelityScore" value="5" type="range" min="1" max="10" required oninput="numberFidelity.value=value"/>
              <input type="number" class="range-number" id="numberFidelity" min="1" max="10" value="5" disabled oninput="fidelityScore.value=value">
            </div>
          </div>
          <div class="input-group">
            <label class="input-label" for="attentionScore">Atención recibida por el personal*: </label>
            <div class="range-input-container">
              <input class="range-input" id="attentionScore" name="attentionScore" value="5" type="range" min="1" max="10" required oninput="numberAttention.value=value"/>
              <input type="number" class="range-number" id="numberAttention" min="1" max="10" value="5" disabled oninput="attentionScore.value=value">
            </div>
          </div>
          <div class="input-group">
            <label class="input-label" for="comment">Comentario: </label>
            <textarea id="comment" name="comment" rows="4" cols="50"></textarea>
          </div>
          <small id="feedback" class=""></small>
          <button type="submit" class="primary-button" id="buttonSubmit">Añadir puntuación</button>
        </form>
        <div class="decoration-wrapper">
          <figure class="img-container">
            <img class="img" alt="" src="../assets/img/food.jpg" />
          </figure>
        </div>
      </div>
    </main>
    <footer class="footer">
      <p><span class="logo-text">SafeTaurant</span>, restaurantes sin alergias</p>
      <p>Proyecto realizado por <a href="https://miasalazar.netlify.app/" target="_blank">María Salazar</a></p>
    </footer>
  </body>
  <script type="text/javascript" src="./shared.js"></script>
  <script>
    const feedback = document.getElementById("feedback");
    const fidelity = document.getElementById("fidelityScoreContainer");
    const ID = new URL(document.URL).searchParams.get('ID');

    let allergenChartToggle = false;

    document.getElementById("add").addEventListener("submit", addNewScore, false);
    document.getElementById("allergenChart").addEventListener("change", allergenToggle, false);

    function allergenToggle() {
      if(!allergenChartToggle) {
        fidelity.classList.remove("hidden");
      } else {
        fidelity.classList.add("hidden");
      }
      allergenChartToggle = !allergenChartToggle;
    }

    function addNewScore(event){
      event.preventDefault();
      const buttonSubmit = document.getElementById("buttonSubmit");
      const feedback = document.getElementById("feedback");
      buttonSubmit.innerHTML = "Cargando...";
      feedback.innerHTML = "";
      const data = {
        created: new Date(),
        comment: document.getElementById("comment").value,
        generalScore: document.getElementById("generalScore").value,
        allergenChart: document.getElementById("allergenChart").checked ? 1 : 0,
        fidelityScore: document.getElementById("allergenChart").checked ? document.getElementById("fidelityScore").value : 0,
        attentionScore: document.getElementById("attentionScore").value,
        restaurantID: ID
      };
      var xmlhttp = new XMLHttpRequest();
      xmlhttp.open("POST", "http://localhost/TFG/controller/add-score.php", true);
      xmlhttp.setRequestHeader("Content-Type", "application/json");
      xmlhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            feedback.innerHTML = "Creado correctamente";
            feedback.classList.add("success");
            feedback.classList.remove("error");
            link.href = `http://localhost/TFG/view/restaurant.html?ID=${ID}`
        } else if (this.status == 424) {
            feedback.innerHTML = "Hubo un error en la creación de la nueva puntuación";
            feedback.classList.add("error");
            feedback.classList.remove("success");
        } else if (this.status == 401) {
          window.location.href = "http://localhost/TFG/view/login.html";
        }
        buttonSubmit.innerHTML = "Añadir puntuación";
      };
      xmlhttp.send(JSON.stringify(data));
    }

    const checkIsLoggedIn = () => {
      var xmlhttp = new XMLHttpRequest();
      xmlhttp.open("GET", "http://localhost/TFG/controller/isLoggued.php", true);
      xmlhttp.setRequestHeader("Content-Type", "application/json");
      xmlhttp.onreadystatechange = function() {
        if (this.readyState == 4 &&  this.status == 401) {
          window.location.href = "http://localhost/TFG/view/login.html";
        }  
      };
      xmlhttp.send();
    }
    checkIsLoggedIn();
  </script>
</html>