<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#319DA0" />
    <meta name="description" content="Una aplicación web donde puedes ver y puntuar restaurante según los alérgenos">
    <meta name="keywords" content="alergenos, carta alérgenos, restaurantes, puntuación"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Teko:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/index.css">
    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/profile.css">
    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/add-restaurant.css">
    <link rel="icon" href="../assets/img/favicon.ico" />
    <link rel="apple-touch-icon" href="../assets/img/logo.png" />
    <title>SafeTaurant, restaurantes sin alergias</title>
  </head>
  <header class="header">
    <div class="title-container">
      <h1 class="title">Safe<span>Taurant</span></h1>
      <figure class="shield-container">
        <img class="shield" src="../assets/img/shield.png" alt="" />
      </figure>
    </div>
    <nav class="nav">
      <button id="toggle" class="toggle" aria-label="Abrir menú">
        <i class="toggle-item" aria-hidden="true"></i>
        <i class="toggle-item" aria-hidden="true"></i>
        <i class="toggle-item" aria-hidden="true"></i>
      </button>
      <ul class="nav-list" id="nav">
        <li>
          <a class="nav-link" href="http://localhost/TFG/index.html">Buscar</a>
        </li>
        <li>
          <a class="nav-link" href="http://localhost/TFG/view/add-restaurant.html">Crear restaurante</a>
        </li>
        <li>
          <a class="nav-link" href="http://localhost/TFG/view/profile.html">Perfil</a>
        </li>
      </ul>

    </nav>
  </header>
    <main class="main add-restaurant container">
      <h2>Añadir restaurante</h2>
      <p id="subtitle">Registra un restaurante para poder puntuarlo en <span class="logo-text">SafeTaurant</span>. Los campos con un asterisco (*) son obligatorios.</p>
      <div class="add-restaurant-wrapper">
        <form class="add-restaurant-form" id="add">
          <div class="input-group">
            <label class="input-label" for="name">Nombre del restaurante*: </label>
            <input class="input" id="name" name="name" type="text" required />
          </div>
          <div class="input-group">
            <label class="input-label" for="province">Provincia*: </label>
            <select name="province" id="province" class="select" required>
              <option selected disabled value="">Escoge Provincia</option>
            </select>
          </div>
          <div class="input-group">
            <label class="input-label" for="address">Dirección*: </label>
            <input class="input" id="address" name="address" type="text" required />
          </div>
          <div class="input-group">
            <label class="input-label" for="ZIP">Código Postal*: </label>
            <input class="input" id="ZIP" name="ZIP" min="10000" max="99999" type="number" required />
          </div>
          <div class="input-group">
            <label class="input-label" for="phone">Teléfono: </label>
            <input class="input" id="phone" name="phone" type="number" />
          </div>
          <div class="input-group">
            <label class="input-label" for="foodType">Tipo de comida: </label>
            <select name="foodType" id="foodType" class="select">
              <option selected disabled value="">Escoge el tipo</option>
            </select>
          </div>
          <h3>Añade los primeros datos y puntuaciones sobre alérgenos</h3>
          <div class="input-group">
            <label class="input-label" for="generalScore">Puntuación general*: </label>
            <div class="range-input-container">
              <input class="range-input" id="generalScore" name="generalScore" value="5" type="range" min="1" max="10" required oninput="numberGeneral.value=value"/>
              <input type="number" class="range-number" id="numberGeneral" min="1" max="10" value="5" disabled oninput="generalScore.value=value">
            </div>
          </div>
          <div class="checkbox-group">
            <label class="input-label" for="allergenChart">¿Carta de alérgenos?</label>
            <input class="input" id="allergenChart" name="allergenChart" type="checkbox" />
          </div>
          <div class="input-group hidden" id="fidelityScoreContainer">
            <label class="input-label" for="fidelityScore">Fidelidad de la carta de alérgenos con respecto a los platos una vez preparados*: </label>
            <div class="range-input-container">
              <input class="range-input" id="fidelityScore" name="fidelityScore" value="5" type="range" min="1" max="10" required oninput="numberFidelity.value=value"/>
              <input type="number" class="range-number" id="numberFidelity" min="1" max="10" value="5" disabled oninput="fidelityScore.value=value">
            </div>
          </div>
          <div class="input-group">
            <label class="input-label" for="attentionScore">Atención recibida por el personal*: </label>
            <div class="range-input-container">
              <input class="range-input" id="attentionScore" name="attentionScore" value="5" type="range" min="1" max="10" required oninput="numberAttention.value=value"/>
              <input type="number" class="range-number" id="numberAttention" min="1" max="10" value="5" disabled oninput="attentionScore.value=value">
            </div>
          </div>
          <div class="input-group">
            <label class="input-label" for="comment">Comentario: </label>
            <textarea id="comment" name="comment" rows="4" cols="50"></textarea>
          </div>
          <small id="feedback" class=""></small>
          <button type="submit" class="primary-button" id="buttonSubmit">Crear restaurante</button>
        </form>
        <div class="decoration-wrapper">
          <figure class="img-container">
            <img class="img" alt="" src="../assets/img/food.jpg" />
          </figure>
        </div>
      </div>
    </main>
    <footer class="footer">
      <p><span class="logo-text">SafeTaurant</span>, restaurantes sin alergias</p>
      <p>Proyecto realizado por <a href="https://miasalazar.netlify.app/" target="_blank">María Salazar</a></p>
    </footer>
  </body>
  <script type="text/javascript" src="./shared.js"></script>
  <script>
    const provinces = ["Alava", "Albacete", "Alicante", "Almería", "Asturias", "Avila", "Badajoz", "Barcelona", "Burgos", "Cáceres",
            "Cádiz", "Cantabria", "Castellón", "Ciudad Real", "Córdoba", "La Coruña", "Cuenca", "Gerona", "Granada", "Guadalajara",
            "Guipúzcoa", "Huelva", "Huesca", "Islas Baleares", "Jaén", "León", "Lérida", "Lugo", "Madrid", "Málaga", "Murcia", "Navarra",
            "Orense", "Palencia", "Las Palmas", "Pontevedra", "La Rioja", "Salamanca", "Segovia", "Sevilla", "Soria", "Tarragona",
            "Santa Cruz de Tenerife", "Teruel", "Toledo", "Valencia", "Valladolid", "Vizcaya", "Zamora", "Zaragoza"];
    const foodType = ["Italiana", "Americana", "Mexicana", "Japonesa", "Coreana", "Pastelería", "Cafetería", "Tapas", "China", "Pizza", "Hamburguesa",
    "Vegana", "Vegetariana", "Vietnamita", "Peruana", "India", "Tailandesa", "Gourmet", "Fusión", "Catering", "Otro"];
    const provinceSelect = document.getElementById("province");
    const foodSelect = document.getElementById("foodType");
    const feedback = document.getElementById("feedback");
    const fidelity = document.getElementById("fidelityScoreContainer");

    let allergenChartToggle = false;

    document.getElementById("add").addEventListener("submit", registerRestaurant, false);
    document.getElementById("allergenChart").addEventListener("change", allergenToggle, false);

    const fillSelects = () => {
      provinces.forEach((province) => {
        let option = document.createElement("option");
        option.value = province;
        option.innerHTML = province;
        provinceSelect.appendChild(option);
      });
      const foodTypeOrderes = foodType.sort();
      foodTypeOrderes.forEach((food) => {
        let option = document.createElement("option");
        option.value = food;
        option.innerHTML = food;
        foodSelect.appendChild(option);
      });
    }

    function allergenToggle() {
      if(!allergenChartToggle) {
        fidelity.classList.remove("hidden");
      } else {
        fidelity.classList.add("hidden");
      }
      allergenChartToggle = !allergenChartToggle;
    }

    function registerRestaurant(event){
      event.preventDefault();
      const buttonSubmit = document.getElementById("buttonSubmit");
      const error = document.getElementById("error");
      buttonSubmit.innerHTML = "Cargando...";
      feedback.innerHTML = "";
      const data = {
        name: document.getElementById("name").value,
        province: document.getElementById("province").value,
        address: document.getElementById("address").value,
        ZIP: Number(document.getElementById("ZIP").value),
        phone: Number(document.getElementById("phone").value),
        foodType: document.getElementById("foodType").value,
        created: new Date(),
        comment: document.getElementById("comment").value,
        generalScore: document.getElementById("generalScore").value,
        allergenChart: document.getElementById("allergenChart").checked ? 1 : 0,
        fidelityScore: document.getElementById("allergenChart").checked ? document.getElementById("fidelityScore").value : 0,
        attentionScore: document.getElementById("attentionScore").value
      };
      var xmlhttp = new XMLHttpRequest();
      xmlhttp.open("POST", "http://localhost/TFG/controller/add-restaurant.php", true);
      xmlhttp.setRequestHeader("Content-Type", "application/json");
      xmlhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            feedback.innerHTML = "Creado correctamente";
            feedback.classList.add("success");
            feedback.classList.remove("error");
            window.location.href = "http://localhost/TFG/index.html";
        } else if (this.status == 424) {
            feedback.innerHTML = "Hubo un error en la creación del restaurante";
            feedback.classList.add("error");
            feedback.classList.remove("success");
        } else if (this.status == 401) {
          window.location.href = "http://localhost/TFG/view/login.html";
        }
        buttonSubmit.innerHTML = "Crear restaurante";
      };
      xmlhttp.send(JSON.stringify(data));
    }

    const checkIsLoggedIn = () => {
      var xmlhttp = new XMLHttpRequest();
      xmlhttp.open("GET", "http://localhost/TFG/controller/isLoggued.php", true);
      xmlhttp.setRequestHeader("Content-Type", "application/json");
      xmlhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
          fillSelects();
        } else if (this.status == 401) {
          window.location.href = "http://localhost/TFG/view/login.html";
        }  
      };
      xmlhttp.send();
    }
    checkIsLoggedIn();
  </script>
</html>