<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#319DA0" />
    <meta name="description" content="Una aplicación web donde puedes ver y puntuar restaurante según los alérgenos">
    <meta name="keywords" content="alergenos, carta alérgenos, restaurantes, puntuación"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Teko:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/index.css">
    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/login-register.css">
    <link rel="icon" href="../assets/img/favicon.ico" />
    <link rel="apple-touch-icon" href="../assets/img/logo.png" />
    <title>SafeTaurant, restaurantes sin alergias</title>
  </head>
<header class="header">
    <div class="title-container">
      <h1 class="title">Safe<span>Taurant</span></h1>
      <figure class="shield-container">
        <img class="shield" src="../assets/img/shield.png" alt="" />
      </figure>
    </div>
    <nav></nav>
  </header>
    <main class="main form">
      <form class="login-form" id="register">
        <h2>¡Te damos la bienvenida de nuevo!</h2>
        <div class="input-group">
          <label class="input-label" for="email">Correo electrónico*: </label>
          <input class="input" id="email" placeholder="Escribe tu email" name="email" type="email" required />
        </div>
        <div class="input-group">
          <label class="input-label" for="password">Contraseña*: </label>
          <input class="input" id="password" placeholder="Escribe tu contraseña" name="password" type="password" required />
        </div>
        <small id="error" class="error"></small>
        <button type="submit" class="primary-button" id="buttonSubmit">Iniciar sesión</button>
        <a class="link" href="http://localhost/TFG/view/register-user.html">Regístrate</a>
      </form>
    </main>
    <footer class="footer">
      <p><span class="logo-text">SafeTaurant</span>, restaurantes sin alergias</p>
      <p>Proyecto realizado por <a href="miasalazar.com" target="_blank">María Salazar</a></p>
    </footer>
  </body>
  <script>
    document.getElementById("register").addEventListener("submit", login, false);

    function login(event){
      event.preventDefault();
      const email = document.getElementById("email");
      const password = document.getElementById("password");
      const buttonSubmit = document.getElementById("buttonSubmit");
      const error = document.getElementById("error");
      buttonSubmit.innerHTML = "Cargando...";
      error.innerHTML = "";
      const data = {
        email: document.getElementById("email").value,
        password: document.getElementById("password").value,
      };
      var xmlhttp = new XMLHttpRequest();
      xmlhttp.open("POST", "http://localhost/TFG/controller/login.php", true);
      xmlhttp.setRequestHeader("Content-Type", "application/json");
      xmlhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
          window.location.href = "http://localhost/TFG/view/index.html";
        } else if (this.status == 401) {
          buttonSubmit.innerHTML = "Iniciar sesión";
          error.innerHTML = "El email o la contraseña son incorrectos";
        } 
      };
      xmlhttp.send(JSON.stringify(data));
    }
  </script>
</html>