<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#319DA0" />
    <meta name="description" content="Una aplicación web donde puedes ver y puntuar restaurante según los alérgenos">
    <meta name="keywords" content="alergenos, carta alérgenos, restaurantes, puntuación"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Teko:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/index.css">
    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/profile.css">
    <link rel="icon" href="../assets/img/favicon.ico" />
    <link rel="apple-touch-icon" href="../assets/img/logo.png" />
    <title>SafeTaurant, restaurantes sin alergias</title>
  </head>
  <header class="header">
    <div class="title-container">
      <h1 class="title">Safe<span>Taurant</span></h1>
      <figure class="shield-container">
        <img class="shield" src="../assets/img/shield.png" alt="" />
      </figure>
    </div>
    <nav class="nav">
      <button id="toggle" class="toggle" aria-label="Abrir menú">
        <i class="toggle-item" aria-hidden="true"></i>
        <i class="toggle-item" aria-hidden="true"></i>
        <i class="toggle-item" aria-hidden="true"></i>
      </button>
      <ul class="nav-list" id="nav">
        <li>
          <a class="nav-link" href="http://localhost/TFG/index.html">Buscar</a>
        </li>
        <li>
          <a class="nav-link" href="http://localhost/TFG/view/add-restaurant.html">Crear restaurante</a>
        </li>
        <li>
          <a class="nav-link" href="http://localhost/TFG/view/profile.html">Perfil</a>
        </li>
      </ul>
    </nav>
  </header>
    <main class="main profile container">
      <div class="profile-controls">
        <h2>Perfil</h2>
        <button class="primary-button logout" type="button" id="logout">Salir</button>
      </div>
      <p id="subtitle">En esta pagina podrás ver los datos de tu perfil y podrás editarlos.</p>
      <div class="profile-wrapper">
        <form class="profile-form" id="profile">
          <div class="input-group">
            <label class="input-label" for="name">Nombre: </label>
            <input disabled class="input" id="name" name="name" type="text" required />
          </div>
          <div class="input-group">
            <label class="input-label" for="surname">Apellido: </label>
            <input disabled class="input" id="surname" name="surname" type="text" />
          </div>
          <div class="input-group">
            <label class="input-label" for="birthDate">Fecha de nacimiento: </label>
            <input disabled class="input" id="birthDate" name="birthDate" type="date" required />
          </div>
          <div class="input-group">
            <label class="input-label" for="email">Correo electrónico: </label>
            <input disabled class="input" id="email" name="email" type="email" required />
          </div>
          <div class="input-group">
            <label class="input-label" for="password">Contraseña: </label>
            <input disabled class="input" id="password" name="password" placeholder="********" type="password" />
            <small>La contraseña debe tener al menos 8 caracteres y deben ser letras o números</small>
          </div>
          <div class="input-group">
            <label class="input-label" for="allergies">Alergias: </label>
            <textarea disabled id="allergies" name="allergies" rows="4" cols="50"></textarea>
          </div>
          <div class="checkbox-group">
            <label class="input-label" for="celiacDisease">¿Celíaquía?</label>
            <input disabled class="input" id="celiacDisease" name="celiacDisease" type="checkbox" />
          </div>
          <div class="checkbox-group">
            <label class="input-label" for="lactoseIntolerance">¿Intolerancia a la lactosa?</label>
            <input disabled class="input" id="lactoseIntolerance" name="lactoseIntolerance" type="checkbox" />
          </div>
          <small id="feedback" class=""></small>
          <div class="button-container">
            <button type="button" class="secondary-button" id="toggleEdit">Editar perfil</button>
            <button type="submit" class="primary-button hidden" id="edit">Aceptar</button>
          </div>
        </form>
        <div class="decoration-wrapper">
          <figure class="img-container">
            <img class="img" alt="" src="../assets/img/shield-3.png" />
          </figure>
        </div>
      </div>
    </main>
    <footer class="footer">
      <p><span class="logo-text">SafeTaurant</span>, restaurantes sin alergias</p>
      <p>Proyecto realizado por <a href="https://miasalazar.netlify.app/" target="_blank">María Salazar</a></p>
    </footer>
  </body>
  <script type="text/javascript" src="./shared.js"></script>
  <script>
    const toggleEditButton = document.getElementById("toggleEdit");
    const editButton = document.getElementById("edit");
    const subtitle = document.getElementById("subtitle");
    const password = document.getElementById("password");
    const name = document.getElementById("name")
    const email = document.getElementById("email")
    const birthDate =document.getElementById("birthDate")
    const surname = document.getElementById("surname")
    const lactoseIntolerance = document.getElementById("lactoseIntolerance");
    const celiacDisease = document.getElementById("celiacDisease");
    const allergies = document.getElementById("allergies");
    const feedback = document.getElementById("feedback");
    const submit = document.getElementById("profile");
    const logout = document.getElementById("logout");

    //Variables que necesitamos de forma global
    let user;
    let toggleEdit = false;

    toggleEditButton.addEventListener("click", toggleEditFunction, false);
    profile.addEventListener("submit", editFunction, false);
    logout.addEventListener("click", logoutFunction, false);

    //Función para editar el perfil
    function editFunction(event){
      event.preventDefault();
      //Comprobamos si la contraseña es correcta, si no lo es, se lanza una alerta.
      //En caso contrario se sigue ejecutando
      if(password.value && !hasCorrectPassword(password.value)) {
        alert("La contraseña debe tener 8 caracteres que sean números o letras");
        return;
      }
      //Mostramos al usuario que la aplicación está en proceso
      editButton.innerHTML = "Cargando...";
      //Deshabilitamos los inputs para que no se puedan editar durante la carga
      toggleEditFunction();
      //Creamos un objeto con los datos a editar
      const data = {
        name: name.value,
        password: password.value,
        surname: surname.value,
        lactoseIntolerance: lactoseIntolerance.checked ? 1 : 0,
        celiacDisease: celiacDisease.checked ? 1 : 0,
        allergies: allergies.value
      };
      var xmlhttp = new XMLHttpRequest();
      xmlhttp.open("POST", "http://localhost/TFG/controller/profile-edit.php", true);
      xmlhttp.setRequestHeader("Content-Type", "application/json");
      xmlhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
           //Si ha habido éxito, se lo mostramos con un texto y el color verde en él
          feedback.innerHTML = "Actualizado correctamente";
          feedback.classList.add("success");
          feedback.classList.remove("error");
        } else if (this.status == 401) {
          //Si el usuario no ha iniciado sesión lo expulsamos a la página de inicio de sesión
          window.location.href = "http://localhost/TFG/view/login.html";
        } else if (this.status == 400) {
          //Si ha ocurrido algún error, le mostramos un texto de error y se lo ponemos de color rojo
          feedback.innerHTML = "Hubo un error al crear el usuario";
          feedback.classList.add("error");
          feedback.classList.remove("success");
        }
        //Mostramos al usuario que ya no está cargando
        editButton.innerHTML = "Editar perfil";
      };
      xmlhttp.send(JSON.stringify(data));
    };

    //Función para salir
    function logoutFunction() {
      var xmlhttp = new XMLHttpRequest();
      xmlhttp.open("GET", "http://localhost/TFG/controller/logout.php", true);
      xmlhttp.setRequestHeader("Content-Type", "application/json");
      xmlhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 401) {
          //Si tiene éxito y nos devuelve un 401, se ha salido y le expulsamos al login
          window.location.href = "http://localhost/TFG/view/login.html";
        }
      };
      xmlhttp.send();
    }

    //Cada uno de los inputs del array es habilitado o deshabilitado
    const toggleDisable = (value) => {
      const elements = ["password", "name","surname", "lactoseIntolerance", "celiacDisease", "allergies"];
      elements.forEach(element => {
        document.getElementById(element).disabled = value;
      });
    }

    //Habilitamos y deshabilitamos los inputs en función de la necesidad
    function toggleEditFunction() {
      if(!toggleEdit) {
        toggleEditButton.innerHTML = "Rechazar";
        editButton.classList.remove("hidden");
      } else {
        toggleEditButton.innerHTML = "Editar perfil";
        editButton.classList.add("hidden");
      }
      toggleDisable(toggleEdit);
      toggleEdit = !toggleEdit;
    }

    //Obtenemos los datos del usuario
    const getProfile = () => {
      var xmlhttp = new XMLHttpRequest();
      xmlhttp.open("GET", "http://localhost/TFG/controller/profile.php", true);
      xmlhttp.setRequestHeader("Content-Type", "application/json");
      xmlhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
          //Si ha habido éxito, guardamos los datos del usuario en la variable user
          user = JSON.parse(this.responseText);
          //Llamamos a la función que mete en los inputs los valores que se han obtenido
          putData();
        } else if (this.status == 401) {
          //Si la persona no está autorizada, la expulsamos
          window.location.href = "http://localhost/TFG/view/login.html";
        } else if (this.status == 400) {
          //Si hay un error, devolvemos un error
          subtitle.innerHTML = "Hubo un error al encontrar los datos del usuario";
        }  
      };
      xmlhttp.send();
    };

    //Cambiamos los valores de los inputs
    const putData = () => {
      name.value = user.name;
      email.value = user.email;
      birthDate.value = user.birthDate;
      surname.value = user.surname;
      allergies.value = user.allergies;
      //Si tenemos 1, el checkbox estará en true, y si es 0, estará en false
      user.lactoseIntolerance === "1" ? lactoseIntolerance.checked = true : lactoseIntolerance.checked = false;
      user.celiacDisease === "1" ? celiacDisease.checked = true : celiacDisease.checked = false;
    }

    //Comprobamos si el usuario está activo
    const checkIsLoggedIn = () => {
      var xmlhttp = new XMLHttpRequest();
      xmlhttp.open("GET", "http://localhost/TFG/controller/isLoggued.php", true);
      xmlhttp.setRequestHeader("Content-Type", "application/json");
      xmlhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
          //Si el usuario ha iniciado sesión, llamamos a la función que añade los datos a los inputs
          getProfile();
        } else if (this.status == 401) {
          //Si no ha iniciado sesión, le expulsamos al login
          window.location.href = "http://localhost/TFG/view/login.html";
        }  
      };
      xmlhttp.send();
    }

    checkIsLoggedIn();
  </script>
</html>