<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Una aplicación web donde puedes ver y puntuar restaurante según los alérgenos">
    <meta name="keywords" content="alergenos, carta alérgenos, restaurantes, puntuación"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Teko:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/index.css">
    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/login-register.css">
    <link rel="icon" href="./assets/img/favicon.ico" />
    <link rel="apple-touch-icon" href="./assets/img/logo.png" />
    <title>SafeTaurant, restaurantes sin alergias</title>
  </head>
<header class="header">
    <div class="title-container">
      <h1 class="title">Safe<span>Taurant</span></h1>
      <figure class="shield-container">
        <img class="shield" src="../assets/img/shield.png" alt="" />
      </figure>
    </div>
    <nav class="nav">
      <button id="toggle" class="toggle" aria-label="Abrir menú">
        <i class="toggle-item" aria-hidden="true"></i>
        <i class="toggle-item" aria-hidden="true"></i>
        <i class="toggle-item" aria-hidden="true"></i>
      </button>
      <ul class="nav-list" id="nav">
        <li>
          <a class="nav-link" href="http://localhost/TFG/view/profile.html">Buscar</a>
        </li>
        <li>
          <a class="nav-link" href="http://localhost/TFG/view/profile.html">Crear restaurante</a>
        </li>
        <li>
          <a class="nav-link" href="http://localhost/TFG/view/profile.html">Perfil</a>
        </li>
      </ul>

    </nav>
  </header>
    <main class="main form">
    </main>
    <footer class="footer">
      <p><span class="logo-text">SafeTaurant</span>, restaurantes sin alergias</p>
      <p>Proyecto realizado por <a href="miasalazar.com" target="_blank">María Salazar</a></p>
    </footer>
  </body>
  <script>
    document.getElementById("toggle").addEventListener("click", toggleMenu, false);
    const menu = document.getElementById("nav");
    const toggle = document.getElementById("toggle");
    let menuToggle = false;

    function toggleMenu() {
      if(!menuToggle) {
        menu.classList.add("open");
        toggle.classList.add("open");
      } else {
        menu.classList.remove("open");
        toggle.classList.remove("open");
      }
      menuToggle = !menuToggle;
    }
  </script>
</html>