<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#319DA0" />
    <meta name="description" content="Una aplicación web donde puedes ver y puntuar restaurante según los alérgenos">
    <meta name="keywords" content="alergenos, carta alérgenos, restaurantes, puntuación"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Teko:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/index.css">
    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/login-register.css">
    <link rel="icon" href="../assets/img/favicon.ico" />
    <link rel="apple-touch-icon" href="../assets/img/logo.png" />
    <title>SafeTaurant, restaurantes sin alergias</title>
  </head>
  <body>
    <header class="header">
      <div class="title-container">
        <h1 class="title">Safe<span>Taurant</span></h1>
        <figure class="shield-container">
          <img class="shield" src="../assets/img/shield.png" alt="" />
        </figure>
      </div>
    </header>
    <main class="main form">
      <form class="register-form" id="register">
        <h2>¡Te damos la bienvenida!</h2>
        <p>Regístrate para poder acceder a todas las funcionalidades de <span class="logo-text">SafeTaurant</span>. Los campos con un asterisco (*) son obligatorios.</p>
        <div class="input-group">
          <label class="input-label" for="name">Nombre*: </label>
          <input class="input" id="name" placeholder="Escribe tu nombre" name="name" type="text" required />
        </div>
        <div class="input-group">
          <label class="input-label" for="surname">Apellido: </label>
          <input class="input" id="surname" placeholder="Escribe tu apellido" name="surname" type="text" />
        </div>
        <div class="input-group">
          <label class="input-label" for="birthDate">Fecha de nacimiento*: </label>
          <input class="input" id="birthDate" placeholder="Escribe tu fecha" name="birthDate" type="date" required />
        </div>
        <div class="input-group">
          <label class="input-label" for="email">Correo electrónico*: </label>
          <input class="input" id="email" placeholder="Escribe tu email" name="email" type="email" required />
        </div>
        <div class="input-group">
          <label class="input-label" for="password">Contraseña*: </label>
          <input class="input" id="password" placeholder="Escribe tu contraseña" name="password" type="password" required />
          <small>La contraseña debe tener al menos 8 caracteres y deben ser letras o números</small>
        </div>
        <div class="input-group">
          <label class="input-label" for="allergies">Alergias: </label>
          <textarea id="allergies" name="allergies" rows="4"></textarea>
        </div>
        <div class="checkbox-group">
          <label class="input-label" for="celiacDisease">¿Celíaquía?</label>
          <input class="input" id="celiacDisease" name="celiacDisease" type="checkbox" />
        </div>
        <div class="checkbox-group">
          <label class="input-label" for="lactoseIntolerance">¿Intolerancia a la lactosa?</label>
          <input class="input" id="lactoseIntolerance" name="lactoseIntolerance" type="checkbox" />
        </div>
        <small id="error" class="error"></small>
        <button type="submit" class="primary-button" id="buttonSubmit">Registrar</button>
        <a class="link" href="http://localhost/TFG/view/login.html">Inicia sesión si ya tienes cuenta</a>
      </form>
    </main>
    <footer class="footer">
      <p><span class="logo-text">SafeTaurant</span>, restaurantes sin alergias</p>
      <p>Proyecto realizado por <a href="https://miasalazar.netlify.app/" target="_blank">María Salazar</a></p>
    </footer>
  </body>
  <script type="text/javascript" src="./shared.js"></script>
  <script>
    document.getElementById("register").addEventListener("submit", registerUser, false);

    //Comprobamos si la persona que está registrándose es un menor
    //Si lo es retornamos true, sino false
    const isMinor = (value) => {
      const today = new Date();
      const birthDate = new Date(value);
      const age = today.getFullYear() - birthDate.getFullYear();
      const month = today.getMonth() - birthDate.getMonth();
      const day = today.getDate() - birthDate.getDate();
      if (age <= 0 || age === 18 && month === 0 && day < 0) {
        return true;
      }
      return false;
    }

    //Creamos un usuario
    function registerUser(event){
      event.preventDefault();
      const birthDate = document.getElementById("birthDate");
      const password = document.getElementById("password");
      const buttonSubmit = document.getElementById("buttonSubmit");
      const error = document.getElementById("error");
      //Mostramos al usuario que la aplicación está en proceso
      buttonSubmit.innerHTML = "Cargando...";
      error.innerHTML = "";
      //Comprobamos si es menor, si lo es se lanzará una alerta
      if(isMinor(birthDate.value)) {
        buttonSubmit.innerHTML = "Registrar";
        alert("No puedes registrarte si eres menor de edad");
        return;
      }
      //Comprobamos si la contraseña es correcta, sino se lanzará una alerta
      if(!hasCorrectPassword(password.value)) {
        buttonSubmit.innerHTML = "Registrar";
        alert("La contraseña debe tener 8 caracteres que sean números o letras");
        return;
      }
      //Creamos un objeto con los datos para crear un usuario
      const data = {
        name: document.getElementById("name").value,
        email: document.getElementById("email").value,
        birthDate:document.getElementById("birthDate").value,
        password: document.getElementById("password").value,
        surname: document.getElementById("surname").value,
        lactoseIntolerance: document.getElementById("lactoseIntolerance").checked ? 1 : 0,
        celiacDisease: document.getElementById("celiacDisease").checked ? 1 : 0,
        allergies: document.getElementById("allergies").value
      };
      var xmlhttp = new XMLHttpRequest();
      xmlhttp.open("POST", "http://localhost/TFG/controller/register-user.php", true);
      xmlhttp.setRequestHeader("Content-Type", "application/json");
      xmlhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
          //Si el usuario es creado correctamente, le enviamos a la página de inicio de sesión
          window.location.href = "http://localhost/TFG/view/login.html";
        } else if (this.status == 400) {
          //Si ocurre algún error le devolvemos este mensaje de error
          buttonSubmit.innerHTML = "Registrar";
          error.innerHTML = "Hubo un error al crear el usuario";
        } else if (this.status == 401) {
          //Si el email ya existe, le devolvemos este error
          buttonSubmit.innerHTML = "Registrar";
          error.innerHTML = "Este usuario ya está registrado";
        }
      };
      xmlhttp.send(JSON.stringify(data));
    }
  </script>
</html>