<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#319DA0" />
    <meta name="description" content="Una aplicación web donde puedes ver y puntuar restaurante según los alérgenos">
    <meta name="keywords" content="alergenos, carta alérgenos, restaurantes, puntuación"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Teko:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/index.css">
    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/restaurant.css">
    <link rel="icon" href="../assets/img/favicon.ico" />
    <link rel="apple-touch-icon" href="../assets/img/logo.png" />
    <title>SafeTaurant, restaurantes sin alergias</title>
  </head>
  <header class="header">
    <div class="title-container">
      <h1 class="title">Safe<span>Taurant</span></h1>
      <figure class="shield-container">
        <img class="shield" src="../assets/img/shield.png" alt="" />
      </figure>
    </div>
    <nav class="nav">
      <button id="toggle" class="toggle" aria-label="Abrir menú">
        <i class="toggle-item" aria-hidden="true"></i>
        <i class="toggle-item" aria-hidden="true"></i>
        <i class="toggle-item" aria-hidden="true"></i>
      </button>
      <ul class="nav-list" id="nav">
        <li>
          <a class="nav-link registered" href="http://localhost/TFG/index.html">Buscar</a>
        </li>
        <li>
          <a class="nav-link registered" href="http://localhost/TFG/view/add-restaurant.html">Crear restaurante</a>
        </li>
        <li>
          <a class="nav-link registered" href="http://localhost/TFG/view/profile.html">Perfil</a>
        </li>
        <li>
          <a class="nav-link no-registered hidden" href="http://localhost/TFG/view/login.html">Iniciar sesión</a>
        </li>
        <li>
          <a class="nav-link no-registered hidden" href="http://localhost/TFG/view/register-user.html">Registrarse</a>
        </li>
      </ul>
    </nav>
  </header>
    <main class="main add-restaurant container">
      <h2 id="name">Restaurante</h2>
      <div class="data-container">
        <div>
          <p class="data-text">Dirección: <span class="data-info" id="address">-</span></p>
          <p class="data-text">Provincia: <span class="data-info" id="province">-</span></p>
          <p class="data-text">Código Postal: <span class="data-info" id="zip">-</span></p>
        </div>
        <div class="extra-info">
          <p class="data-text">Teléfono: <span class="data-info" id="phone">-</span></p>
          <p class="data-text">Tipo de comida: <span class="data-info" id="foodType">-</span></p>
        </div>
      </div>
      <div class="averages-container">
        <h3 id="averages">Puntuaciones medias</h3>
        <div class="input-group">
          <label class="input-label" for="generalScore">Puntuación general</label>
          <div class="range-input-container">
            <input class="range-input" id="generalScore" name="generalScore" value="5" type="range" min="1" max="10" required oninput="numberGeneral.value=value" disabled/>
            <input type="number" class="range-number" id="numberGeneral" min="1" max="10" value="5" disabled oninput="generalScore.value=value">
          </div>
        </div>
        <div class="checkbox-group">
          <label class="input-label" for="allergenChart" >Carta de alérgenos</label>
          <input class="input" id="allergenChart" name="allergenChart" type="checkbox" disabled />
        </div>
        <div class="input-group hidden">
          <label class="input-label" for="fidelityScore">Fidelidad de la carta de alérgenos con respecto a los platos una vez preparados*: </label>
          <div class="range-input-container">
            <input class="range-input" id="fidelityScore" name="fidelityScore" value="5" type="range" min="1" max="10" required oninput="numberFidelity.value=value" disabled/>
            <input type="number" class="range-number" id="numberFidelity" min="1" max="10" value="5" disabled oninput="fidelityScore.value=value">
          </div>
        </div>
        <div class="input-group">
          <label class="input-label" for="attentionScore">Atención recibida por el personal*: </label>
          <div class="range-input-container">
            <input class="range-input" id="attentionScore" name="attentionScore" value="5" type="range" min="1" max="10" required oninput="numberAttention.value=value" disabled/>
            <input type="number" class="range-number" id="numberAttention" min="1" max="10" value="5" disabled oninput="attentionScore.value=value">
          </div>
        </div>
      </div>
      <div class="scores-container">
        <h3 id="scores">Comentarios y puntuaciones</h3>
        <ul id="scoresList" class="scores-list">
        </ul>
      </div>
      <a href="" class="primary-button" id="addScore">Añadir nueva puntuación</a>
    </main>
    <footer class="footer">
      <p><span class="logo-text">SafeTaurant</span>, restaurantes sin alergias</p>
      <p>Proyecto realizado por <a href="https://miasalazar.netlify.app/" target="_blank">María Salazar</a></p>
    </footer>
  </body>
  <script type="text/javascript" src="./shared.js"></script>
  <script>
    const feedback = document.getElementById("feedback");
    const nav = document.getElementById("nav");
    const toggleButton = document.getElementById("toggle");
    const restaurantID = new URL(document.URL).searchParams.get('ID');
    const add = document.getElementById("add");
    const addScore = document.getElementById("addScore");
    const data = {ID: restaurantID};

    //Creamos las variables necesarias que usaremos para guardar los datos
    let restaurant;
    let scores;
    let average;

    //Variable para comprobar si hay carta de alérgenos
    //Si no la hay, la puntuación de fidelidad será 1 directamente y no se mostrará el range input
    let allergenChartToggle = false;

    //Mostramos los datos del restaurante en los inputs
    const putData = () => {
      document.getElementById("name").innerHTML = restaurant.name;
      document.getElementById("address").innerHTML = restaurant.address;
      document.getElementById("province").innerHTML = restaurant.province;
      document.getElementById("zip").innerHTML = restaurant.ZIP;
      //Si se ha guardado el teléfono, lo mostramos
      if (restaurant.phone && restaurant.phone !== "0") {
        document.getElementById("phone").innerHTML = restaurant.phone;
      }
      //Si se ha guardado el tipo de comida, lo mostramos
      if (restaurant.foodType && restaurant.foodType !== "") {
        document.getElementById("foodType").innerHTML = restaurant.foodType;
      }
    }

    //Para cada puntuación creamos un <li> con los datos y lo introducimos en la <ul>
    const putScores = () => {
      const scoresList = document.getElementById("scoresList");
      scores.forEach((score) => {
        let li = document.createElement("li");
        let date = document.createElement("small");
        let userName = document.createElement("h4");
        let allergenChart = document.createElement("p");
        let comment = document.createElement("p");
        let fidelityScore = document.createElement("p");
        let generalScore = document.createElement("p");
        let attentionScore = document.createElement("p");

        date.innerHTML = score.created;
        userName.innerHTML = score.userName;
        allergenChart.innerHTML= `<span class='highlight'>¿Carta de alérgenos?: </span>${score.allergenChart === "0" ? "Sí" : "No"}`;
        comment.innerHTML = `<span class='highlight'>Comentario: </span>${score.comment || "-"}`;
        fidelityScore.innerHTML = `<span class='highlight'>Puntuación de fidelidad: </span>${score.fidelityScore}`;
        generalScore.innerHTML = `<span class='highlight'>Puntuación general: </span>${score.generalScore}`;
        attentionScore.innerHTML = `<span class='highlight'>Puntuación de atención recibida: </span>${score.attentionScore}`;

        li.appendChild(userName);
        li.appendChild(date);
        li.appendChild(generalScore);
        li.appendChild(allergenChart);
        li.appendChild(fidelityScore);
        li.appendChild(attentionScore);
        li.appendChild(comment);

        scoresList.appendChild(li);
      })
    }

    //Mostramos la puntuación media del restaurante en los inputs
    const putAverage = () => {
      document.getElementById("generalScore").value = Math.floor(average.generalScore);
      document.getElementById("numberGeneral").value = Math.floor(average.generalScore);
      document.getElementById("allergenChart").checked = Math.floor(average.allergenChart) === "0" ? false : true;
      document.getElementById("fidelityScore").value = Math.floor(average.fidelityScore);
      document.getElementById("numberFidelity").value = Math.floor(average.fidelityScore);
      document.getElementById("attentionScore").value = Math.floor(average.attentionScore);
      document.getElementById("numberAttention").value = Math.floor(average.attentionScore);
    }

    //Obtenemos los datos del restaurante
    const getRestaurant = () => {
      var xmlhttp = new XMLHttpRequest();
      xmlhttp.open("POST", "http://localhost/TFG/controller/restaurant.php", true);
      xmlhttp.setRequestHeader("Content-Type", "application/json");
      xmlhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
          //Si se ha encontrado el restaurante, llamamos a las funciones que muestran la información en la página y a la que  busca las calificaciones
          //Se guarda la información del restaurante
          restaurant = JSON.parse(this.responseText);
          putData();
          getScores();
        } else if (this.status == 404) {
          //Si no se encuentra el ID del restaurante, le dejamos este mensaje
          document.getElementById("subtitle").innerHTML = "No hay un restaurante con este ID";
        }   
      };
      xmlhttp.send(JSON.stringify(data));
    }

    //Obtenemos la información de todas las puntuaciones medias
    const getAverage = () => {
      var xmlhttp = new XMLHttpRequest();
      xmlhttp.open("POST", "http://localhost/TFG/controller/average.php", true);
      xmlhttp.setRequestHeader("Content-Type", "application/json");
      xmlhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
          //Guardamos los datos en una variable
          //Colocamos los datos de las calificaciones medias en la página
          average = JSON.parse(this.responseText);
          putAverage();
        } else if (this.status == 404) {
          //Si no se encuentra el ID del restaurante, le dejamos este mensaje
          document.getElementById("averages").innerHTML = "No hay puntuaciones medias para este restaurante";
        }   
      };
      xmlhttp.send(JSON.stringify(data));
    }

    //Obtenemos las puntuaciones
    const getScores = () => {
      var xmlhttp = new XMLHttpRequest();
      xmlhttp.open("POST", "http://localhost/TFG/controller/scores.php", true);
      xmlhttp.setRequestHeader("Content-Type", "application/json");
      xmlhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
          //Se guardan las calificaciones en una variable
          scores = JSON.parse(this.responseText);
          //Llamamos a la función que obtiene las medias
          getAverage();
          //Llamamos a la función que añade en la página todas las puntuaciones
          putScores();
        } else if (this.status == 400) {
          //Si no encontramos las puntuaciones, mostramos un mensaje
          document.getElementById("scores").innerHTML = "No hay comentarios para este restaurante";
        }   
      };
      xmlhttp.send(JSON.stringify(data));
    }

    //Comprobamos si se ha iniciado sesión
    const checkIsLoggedIn = () => {
      var xmlhttp = new XMLHttpRequest();
      xmlhttp.open("GET", "http://localhost/TFG/controller/isLoggued.php", true);
      xmlhttp.setRequestHeader("Content-Type", "application/json");
      xmlhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
          //Si se ha iniciado sesión, añadimos un link para añadir una puntuación
          addScore.href = `http://localhost/TFG/view/add-score.html?ID=${restaurantID}`;
        } else if (this.status == 401) {
          //Si el usuario no está activo, ocultamos el link de añadir puntuación
          addScore.classList.add("hidden");
          const list = document.querySelectorAll(".nav-link");
          //Ocultamos los links a los que no puede acceder
          list.forEach((li)=> {
            if (li.classList.contains("no-registered")) {
              li.classList.remove("hidden");
            } else {
              li.classList.add("hidden");
            }
          });
        } 
      };
      xmlhttp.send();
    }

    getRestaurant();
    checkIsLoggedIn();
  </script>
</html>