<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#319DA0" />
    <meta name="description" content="Una aplicación web donde puedes ver y puntuar restaurante según los alérgenos">
    <meta name="keywords" content="alergenos, carta alérgenos, restaurantes, puntuación"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Teko:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/index.css">
    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/home.css">
    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/restaurants.css">
    <link rel="icon" href="../assets/img/favicon.ico" />
    <link rel="apple-touch-icon" href="../assets/img/logo.png" />
    <title>SafeTaurant, restaurantes sin alergias</title>
  </head>
  <body>
    <header class="header">
      <div class="title-container">
        <h1 class="title">Safe<span>Taurant</span></h1>
        <figure class="shield-container">
          <img class="shield" src="../assets/img/shield.png" alt="" />
        </figure>
      </div>
      <nav class="nav">
        <button id="toggle" class="toggle" aria-label="Abrir menú">
          <i class="toggle-item" aria-hidden="true"></i>
          <i class="toggle-item" aria-hidden="true"></i>
          <i class="toggle-item" aria-hidden="true"></i>
        </button>
        <ul class="nav-list" id="nav">
          <li>
            <a class="nav-link" href="http://localhost/SafeTaurant/index.html">Buscar</a>
          </li>
          <li>
            <a class="nav-link nav-link-optional registered" href="http://localhost/SafeTaurant/view/add-restaurant.html">Crear restaurante</a>
          </li>
          <li>
            <a class="nav-link nav-link-optional registered" href="http://localhost/SafeTaurant/view/profile.html">Perfil</a>
          </li>
          <li>
            <a class="nav-link nav-link-optional no-registered hidden" href="http://localhost/SafeTaurant/view/login.html">Iniciar sesión</a>
          </li>
          <li>
            <a class="nav-link nav-link-optional no-registered hidden" href="http://localhost/SafeTaurant/view/register-user.html">Registrarse</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="home container">
      <section class="search-container">
        <h2>Resultados de la búsqueda</h2>
        <form id="search">
          <div class="input-group">
            <label class="input-label" for="name">Busca un restaurante</label>
            <input class="input" id="name" placeholder="Nombre restaurante" name="name" type="text" required />
          </div>
          <div class="form-selects">
            <div class="input-group">
              <label class="input-label" for="province">Provincia: </label>
              <select name="province" id="province" class="select">
                <option selected value="">Escoge Provincia</option>
              </select>
            </div>
            <div class="input-group">
              <label class="input-label" for="foodType">Tipo de comida: </label>
              <select name="foodType" id="foodType" class="select">
                <option selected value="">Escoge el tipo</option>
              </select>
            </div>
            <button type="submit" class="primary-button" id="buttonSubmit">Buscar</button>
          </div>
        </form>
      </section>
      <section class="list-search-container">
        <div class="order-container" id="orderContainer">
          <label class="input-label order-label" for="order">Ordernar de forma: </label>
          <select name="order" id="order" class="select">
            <option value="asc">Ascendente</option>
            <option selected value="desc">Descendente</option>
          </select>
        </div>
        <h3 id="found"></h3>
        <ul class="list-search" id="list">
        </ul>
      </section>
    </main>
    <footer class="footer">
      <p><span class="logo-text">SafeTaurant</span>, restaurantes sin alergias</p>
      <p>Proyecto realizado por <a href="https://miasalazar.netlify.app/" target="_blank">María Salazar</a></p>
    </footer>
  </body>
  <script type="text/javascript" src="./shared.js"></script>
  <script>
    const provinces = ["Alava", "Albacete", "Alicante", "Almería", "Asturias", "Avila", "Badajoz", "Barcelona", "Burgos", "Cáceres",
            "Cádiz", "Cantabria", "Castellón", "Ciudad Real", "Córdoba", "La Coruña", "Cuenca", "Gerona", "Granada", "Guadalajara",
            "Guipúzcoa", "Huelva", "Huesca", "Islas Baleares", "Jaén", "León", "Lérida", "Lugo", "Madrid", "Málaga", "Murcia", "Navarra",
            "Orense", "Palencia", "Las Palmas", "Pontevedra", "La Rioja", "Salamanca", "Segovia", "Sevilla", "Soria", "Tarragona",
            "Santa Cruz de Tenerife", "Teruel", "Toledo", "Valencia", "Valladolid", "Vizcaya", "Zamora", "Zaragoza"];
    const foodType = ["Italiana", "Americana", "Mexicana", "Japonesa", "Coreana", "Pastelería", "Cafetería", "Tapas", "China", "Pizza", "Hamburguesa",
    "Vegana", "Vegetariana", "Vietnamita", "Peruana", "India", "Tailandesa", "Gourmet", "Fusión", "Catering", "Otro"];

    const nav = document.getElementById("nav");
    const found = document.getElementById("found");
    const toggleButton = document.getElementById("toggle");
    const register = document.getElementById("register");
    const name = document.getElementById("name");
    const provinceSelect = document.getElementById("province");
    const foodSelect = document.getElementById("foodType");
    const orderContainer = document.getElementById("orderContainer");
    const list = document.getElementById("list");
    const order = document.getElementById("order");
    document.getElementById("search").addEventListener("submit", search, false);
    document.getElementById("order").addEventListener("change", search, false);

    //Creamos una variable para guardar el resultado de la búsqueda
    let restaurants;

    //Comprobamos si el usuario ha iniciado sesión
    const checkIsLoggedIn = () => {
      var xmlhttp = new XMLHttpRequest();
      xmlhttp.open("GET", "http://localhost/SafeTaurant/controller/isLoggued.php", true);
      xmlhttp.setRequestHeader("Content-Type", "application/json");
      xmlhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 401) {
          changeMenu("no-registered");
        } else {
          changeMenu("registered");
        } 
      };
      xmlhttp.send();
    }

    //Rellenamos los select con los array que encontramos arriba
    const fillSelects = () => {
      provinces.forEach((province) => {
        let option = document.createElement("option");
        option.value = province;
        option.innerHTML = province;
        provinceSelect.appendChild(option);
      });
      const foodTypeOrderes = foodType.sort();
      foodTypeOrderes.forEach((food) => {
        let option = document.createElement("option");
        option.value = food;
        option.innerHTML = food;
        foodSelect.appendChild(option);
      });
    }

    //Para cada restaurante encontrado, creamos un <li> con todos los datos
    const viewList = () => {
      restaurants.forEach((restaurant) => {
        let li = document.createElement("li");
        let link = document.createElement("a");
        let title = document.createElement("h4");
        let address = document.createElement("p");
        let province = document.createElement("p");
        let score = document.createElement("p");

        link.innerHTML = "Ver detalle";
        link.href = `http://localhost/SafeTaurant/view/restaurant.html?ID=${restaurant.restaurantID}`;
        title.innerHTML = restaurant.name;
        address.innerHTML = restaurant.address;
        province.innerHTML = restaurant.province;
        score.innerHTML = `${Math.floor(restaurant.generalScore)}<span>/10</span>`;
        score.classList.add("list-score");
        link.classList.add("primary-button");

        li.appendChild(title);
        li.appendChild(address);
        li.appendChild(province);
        li.appendChild(score);
        li.appendChild(link);

        list.appendChild(li);
      });
    }

    //Función para buscar restaurantes con los datos recabados en el buscador
    const getRestaurants = () => {
      found.innerHTML = "Cargando...";
      if(name && name != "") {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", `http://localhost/SafeTaurant/controller/search.php?name=${name.value}&province=${provinceSelect.value || ""}&foodType=${foodSelect.value || ""}&order=${order.value || "desc"}`, true);
        xmlhttp.setRequestHeader("Content-Type", "application/json");
        xmlhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
            //Si se encuentran restaurantes que coincidan con los filtros de búsqueda, llamamos a la función para pintar todos los restaurantes y mostramos un mensaje
            //Si no hay ninguno, mostramos un mensaje indicando lo contrario
            restaurants = JSON.parse(this.responseText);
            if (restaurants[0].restaurantID !== null) {
              viewList();
              found.innerHTML = `Se han encontrado ${restaurants.length} resultados`;
            } else {
              found.innerHTML = "No hay restaurantes con los filtros de búsqueda seleccionados";
            }
          } else if (this.status === 404 || this.status === 204) {
            //Si no encontramos ningún restaurante, mostramos un mensaje indicándolo
            found.innerHTML = "No hay restaurantes con los filtros de búsqueda seleccionados";
            orderContainer.classList.add("hidden");
          }
        };
        xmlhttp.send();
      } else {
        found.innerHTML = "No hay restaurantes con los filtros de búsqueda seleccionados";
      }
    }

    //Obtenemos los valores iniciales de la ruta y llamamos a la función de obtener resultados para la búsqueda
    const getInitialValues = () => {
      list.innerHTML = "";
      name.value = new URL(document.URL).searchParams.get('name');
      provinceSelect.value = new URL(document.URL).searchParams.get('province');
      foodSelect.value =  new URL(document.URL).searchParams.get('foodType');
      order.value = new URL(document.URL).searchParams.get('order');
      getRestaurants();
    }

    //Con esta función redirigimos al usuario a otra ruta con todos los valores de la búsqueda
    //Si se ha pulsado el botón de búsqueda sin introducir ningún valor en el campo de nombre, lanzamos una alerta
    function search(event) {
      event.preventDefault();
      if(name.value && name.value.trim() != "") {
        window.location.href = `http://localhost/SafeTaurant/view/restaurants.html?name=${name.value}&province=${provinceSelect.value}&foodType=${foodSelect.value}&order=${order.value}`;
      } else {
        alert("Debes introducir un valor en la búsqueda");
        return;
      }
    }

    fillSelects();
    getInitialValues();
    checkIsLoggedIn();
  </script>
</html>